/* COLOR PALETTE */

$colors: ( gun-metal: rgba(40, 42, 54, 1),
outer-space: rgba(68, 71, 90, 1),
white-smoke: rgba(248, 248, 242, 1),
blue-yonder: rgba(98, 114, 164, 1),
winter-wizard: rgba(139, 233, 253, 1),
screaming-green: rgba(80, 250, 123, 1),
very-light-tangelo: rgba(255, 184, 108, 1),
princes-perfume: rgba(255, 121, 198, 1),
bright-lavender: rgba(189, 147, 249, 1),
sunset-orange: rgba(255, 85, 85, 1),
key-lime: rgba(241, 250, 140, 1),
lavender-gray: rgba(230, 232, 230, 1));

@each $key,
$value in $colors {
    .bg-#{$key} {
        background-color: $value!important;
    }
    .border-#{$key} {
        border-color: $value!important;
    }
    .color-#{$key} {
        color: $value!important;
    }
}
