@charset 'utf-8';

@import 'settings';
@import 'node_modules/foundation-sites/scss/foundation';
@import 'node_modules/motion-ui/src/motion-ui';

@include foundation-global-styles;
@include foundation-grid;
// @include foundation-flex-grid;
@include foundation-xy-grid-classes;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-card;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-responsive-embed;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
// @include foundation-progress-element;
// @include foundation-progress-element;
// @include foundation-meter-element;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;
@include foundation-flex-classes;

@include foundation-prototype-classes;
@include motion-ui-transitions;
@include motion-ui-animations;

/* Settings */

@import 'colors';
@import url('https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre|Fredoka+One|Megrim|Yeseva+One');


body {
    height: 100vh;
    width: 100vw;
}

canvas {
    width: 100%;
    height: 100%;
}

#intro-logo {
    position: relative;
    z-index: 9999;
}

.font-frank {
    font-family: 'Frank Ruhl Libre', serif;
}

.font-fredroka {
    font-family: 'Fredoka One', cursive;
}

.font-megrim {
    font-family: 'Megrim', cursive;
}

.font-yeseva {
    font-family: 'Yeseva One', cursive;
}

.h-100 {
    height: 100%;
}

.padding-3 {
    padding: 3em;
}

.padding-remove-horizontal {
    padding-left: 0!important;
    padding-right: 0!important;
}

.padding-remove-vertical {
    padding-top: 0!important;
    padding-bottom: 0!important;
}

.canvas-background {
    background-image: linear-gradient(to bottom right, rgba(40, 42, 54, 1) 0%, rgba(98, 114, 164, 1) 100%);
    position: relative;
}

.stalker {
    position: absolute;
    width: 200%;
    height: 200%;
    top: -50%;
    left: -50%;
}

.grad1 {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    opacity: 0;
    background-image: -webkit-radial-gradient(50% 50%, rgba(103, 60, 169, 0.6) 10px, rgba(103, 60, 169, 0) 70%),
    -webkit-radial-gradient(50% 50%, rgba(181, 36, 144, 0.6) 8px, rgba(181, 36, 144, 0) 40%);
    -webkit-transition: all 0.7s ease-in-out;
    /* For Safari 3.1 to 6.0 */
    transition: all 0.7s ease-in-out;
}

.grad2 {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    opacity: 0;
    background-image: -webkit-radial-gradient(50% 50%, rgba(131, 58, 165, 0.3) 10px, rgba(131, 58, 165, 0) 70%),
    -webkit-radial-gradient(50% 50%, rgba(230, 13, 116, 0.2) 8px, rgba(230, 13, 116, 0) 40%);
    -webkit-transition: all 0.7s ease-in-out;
    /* For Safari 3.1 to 6.0 */
    transition: all 0.7s ease-in-out;
}

.active {
    opacity: 1;
}
