block header
  #nav.position-fixed-top.padding-1
        .top-bar
            .top-bar-left
                ul.menu.hide-for-small-only
                    li
                        a.color-white-smoke(href='/#home') HOME
                    li
                        a.color-white-smoke(href="/#about") ABOUT
                    li
                        a.color-white-smoke(href="/project") PROJECTS
                    li
                        a.color-white-smoke(href="/#team") TEAM
                    li
                        a.color-white-smoke(href="/#contact") CONTACT

            .top-bar-right
              ul.menu
                li.show-for-small-only
                    a.clear.button(data-toggle="offCanvas")
                      img(src="/images/menu.png", alt="", style='height:1.2rem; padding-bottom:3px;margin-right:5px')
                li
                  a(href="#").button LET'S TALK
