extends layout

block content
    include header
    #home.h-100.grid-container.full
        .grid-y.text-center.canvas-background.h-100.overflow-hidden
            .stalker
                .grad1
                .grad2.cell
            .cell(style='padding-top:5rem;')
                h5.h5.color-white-smoke EDWAR
                p.color-white-smoke Et nisi tempor occaecat magna consequat tempor excepteur eiusmod consectetur qui reprehenderit.
            .cell
                form
                    .grid-container
                        .grid-x.grid-padding-x
                            .medium-6.cell
                                label.color-white-smoke.text-left
                                    | Input Label
                                input(type='text', placeholder='.medium-6.cell')
                            .medium-6.cell
                                label.color-white-smoke.text-left
                                    | Input Label
                                input(type='text', placeholder='.medium-6.cell')
                            .medium-6.cell
                                label.color-white-smoke.text-left
                                    | Input Label
                                input(type='text', placeholder='.medium-6.cell')
                            .medium-6.cell
                                label.color-white-smoke.text-left
                                    | Input Label
                                input(type='text', placeholder='.medium-6.cell')
            .cell.text-left(style='padding:5rem;')
                h5.h5.color-white-smoke EDWAR
                p.color-white-smoke Et nisi tempor occaecat magna consequat tempor excepteur eiusmod consectetur qui reprehenderit.
