doctype html
html(lang='en', style='width:100%;height:100%').no-js
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    block style
        link(rel='stylesheet', type='text/css', href='/stylesheets/app.css')
  body(style='width:100%')
    include header
    block content
    block script
        //script(src='/javascripts/jquery.min.js')
        //script(src='/javascripts/what-input.min.js')
        //script(src='/javascripts/foundation.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.min.js')
        //script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/TweenMax.min.js')
        //script(src='https://cdnjs.cloudflare.com/ajax/libs/three.js/84/three.min.js')
        // script(src='https://threejs.org/examples/js/controls/OrbitControls.js')
        script(src='/javascripts/app.js')
        //script(src='/javascripts/detector.js')
        //script(src='/javascripts/bg.js')
        //script(src='/javascripts/letter.js')
