extends layout

block content
    #project-page.h-100.bg-gun-metal.grid-container.fluid
        div(style='padding-top:8rem;').grid-x.grid-padding-x.text-center.align-center
            .cell.small-10
                h1.h1.color-white-smoke {{project.name}}
            .cell.small-10
                img(:src="first.src", alt="", style='width:100%')
            div(style='padding-top:2rem').cell.small-10.grid-x.grid-padding-x
                div(v-for='r in rest').cell.small-4
                    img(:src="r.src", alt="")
            div(style='padding-top:2rem').cell.small-10
              p Quis exercitation occaecat labore occaecat voluptate ipsum dolore minim dolore aute ad labore ipsum. Ea id est anim exercitation consectetur ea pariatur Lorem commodo aute. Et ullamco ex laborum non. Sint nostrud enim adipisicing dolor ea laborum proident deserunt excepteur cupidatat. Nostrud sint nisi veniam ad do non sunt non voluptate. Ullamco veniam deserunt ad mollit mollit culpa nisi duis aliquip sit mollit mollit. Tempor Lorem quis ea ipsum consequat anim excepteur aliquip qui et.
